{% extends 'base.html' %}
{% block content %}

<h1>Plant List</h1>

<div class="row">
{% for plant in plants %}
  <div class="col s6 m4">
    <div class="height-full">
      <a href="{% url 'detail' plant.id %}">
        <div class="card small z-depth-3 rounded card-hover">
          <div class="card-content">
            <span class="card-title">{{ plant.name }}</span>
            <p>Type: {{ plant.breed }}</p>
            <p>Description: {{ plant.description }}</p>
            <!-- {% if plant.maturity > 0 %}
              <p>Time until fruit: {{ plant.maturity }}</p>
              {% else %}
              <p>Age: Kitten</p>
              {% endif %} -->
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
